.no-webp .imagen-contacto {
    background-image: url(../img/encuentra.jpg);
    max-width: 100%;
}
.webp .imagen-contacto {
    background-image: url(../img/encuentra.webp);
    max-width: 100%;
}

.imagen-contacto {
    background-position: center center;
    background-size: cover;
    padding: $separacion 0;
    text-align: center;
    
    h2 {
        font-size: 4rem;
        font-weight: $black;
        color: $blanco;
    }
    p {
        font-size: 1.8rem;
        color: $blanco;
    }
}